.forum_group {
    margin-bottom: 0.5em;

    /* group header */
    & > div:first-child {
        color: var(--dark-accent);
        background-color: #eee;
        font-weight: bolder;
        padding: 0.3em;
        border-radius: 4px;
    }

    /* group items */
    & > div:nth-child(2) {
        padding: .1em .5em;

        /* single item */
        & > a {
            display:grid;
            grid-template-columns: 5fr 2fr;
            column-gap: 1em;
            padding: .2em .2em;
            margin: .2em .2em;

            &:hover {
                background-color: var(--light-neutral-12);
            }

            /* forum name and description */
            & > div:first-child {
                & > div:first-child {
                    color: var(--light-neutral);
                    font-weight: bolder;

                }
                & > div:nth-child(2) {
                    color: #666;
                    font-size: 95%;
                }
            }

            /* forum meta */
            & > div:nth-child(2) {
                font-size: 80%;
                display: grid;
                align-content: start;
                grid-template-columns: 1fr 1fr;
                color:#777; 
                font-family: "Roboto Slab", serif;
                font-weight: 400;
                & > div::before {
                    font-family: 'Material Symbols Outlined';
                    margin-right: .2em;
                    position: relative;
                    top: .1em;
                }
                & > div:nth-child(1)::before {
                    content: 'forum';
                }
                & > div:nth-child(2)::before {
                    content: 'note_stack';
                }
                & > div:nth-child(3)::before {
                    content: 'date_range';
                }
                & > div:nth-child(4)::before {
                    content: 'calendar_month';
                }
            }
        }
    }    
}
