body {
    font-family : sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin: 0px;
    background-color: #fff;
    color: #555;
}
div.main_header {
    background-color: #def;
    width: 60%;
    min-width: 500px;
    height: 100%;
    padding: 1.5em;
    box-shadow:  3px 3px 10px -3px #555;
    margin-bottom: .7em;
    margin-top: 0.5em;
    position: relative;
    box-sizing: border-box;
}
div.header_name {
    font-size: xx-large;
    font-weight:bold;
    margin-bottom: 0.2em;
}
div.header_tagline {
    font-style: italic;
    color: #999;
}
div.main_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    min-width: 500px;
    box-sizing: border-box;
    gap: 0.5em;
}
div.main_menu a {   
    color: #555;
    background-color: #eee;
    text-decoration: none   ;
    padding: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.main_menu a:hover {
    color: #777;
    background-color: #f8f8f8;
}
div.main_container {
    background-color: #fff;
    width: 60%;
    min-width: 500px;
    height: 100%;
    padding: 2em;
    -box-shadow:  3px 3px 15px -3px #555;    
    position: relative;
    box-sizing: border-box;
}