/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:SCAN@-20&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/* GLOBAL DEFAULTS */

:root {
    --dark-neutral: #5d5c61;
    --light-neutral: #979683;
    --light-neutral-12: #97968322;
    --light-accent: #7397ae;
    --dark-accent: #557a95;
    --contrast-accent: #96775d;
}

body {
    font-family : sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    /* background-color: whitesmoke; */
    background-image: url('./stripes.jpeg');
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
        font-variation-settings:
          "slnt" 0,
          "wdth" 100,
          "GRAD" 0,
          "XOPQ" 96,
          "XTRA" 468,
          "YOPQ" 79,
          "YTAS" 750,
          "YTDE" -203,
          "YTFI" 738,
          "YTLC" 514,
          "YTUC" 712;
}

div {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--contrast-accent);
}

hr {
    margin: 0px;
    background-color: whitesmoke;
    height: 2px;
    border-width: 0px;
}

.mono {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sixtyfour {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" -20;
}

.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

.has_icon span:first-of-type, .is_icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 0.13em;
}

/* PAGE STRUCUTRE */

#main_container {
    width: 60vw;
    min-width: 400px;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 20px gray ;
    display: flex;
    flex-direction: column;
}

#header_area {
    padding: .8em;
    display: flex;
    flex-direction: column;
    row-gap: .3em;
}

#content_container {
    padding: 0em 1.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

#footer_area {
    padding: .8em;
    display: flex;
    flex-direction: column;
    row-gap: .3em;
}

/* HEADER FORMATTING */
    
#main_header {
    background-color: var(--light-accent);
    font-size: large;
    border-radius: 4px;
    color: whitesmoke;
    padding: .7em;
    

    &  > div:nth-child(1) {
        font-size:xx-large;
        font-weight: bolder;
        color: inherit;
        font-family: "Sixtyfour", sans-serif;
        font-variation-settings:
            "BLED" 0,
            "SCAN" -20;
    }

    &  > div:nth-child(2) {
        --font-style: italic;
        color: inherit;
        font-family: "Roboto Slab", serif;
        font-weight: 400;
    }

}

/* MAIN MENU */

#main_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    padding: 0px;
    padding-left: .8em;
    margin: 0em .4em;
    font-size: 110%;

    & > li {
        text-align: center;
        font-weight: bold;
        color: var(--light-accent);
        &:hover {
            list-style-type: "\25B8  ";
            &::marker {
                color: var(--contrast-accent);
            } 
        }
    }
}

/* BREADCRUMBS */

#breadcrumbs, .pagination {
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--light-neutral);
    border-top: solid 1px var(--light-neutral);
    color: var(--light-neutral);
    padding: .2em .0em;
    margin: 0em 0em;

    & > div {
        padding: 0px 5px;
        margin: 0px;
        font-size: smaller;
        font-weight: 400;
    }
}

/* PAGINATION */

.pagination {
    justify-content: space-between;
    &.first {
        border-top: none;
    }
    &.last {
        border-bottom: none;
    }
}

/* FOOTER */

#main_footer {
    background-color: var(--light-neutral);
    font-size: smaller;
    border-radius: 4px;
    color: whitesmoke;
    padding: .7em;
}