.post_item {
    display: flex;
    flex-direction: row;
    gap: .5em;

    & > div:first-child { /* author pane*/
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: .1em;

        & > img {
            width: 90%;
        }

        & > div {
            color:#777;
            font-size: smaller;
        }

        /* username */
        & > div:first-of-type { 
            font-weight: 600;
            &.admin {
                color: darkred;
            }
            &.mod {
                color: darkgreen    ;
            }
        }

        /* ranga */
        & > div:nth-of-type(2) { 
            font-style: italic;
        }

        /* joined date */
        & > div:nth-of-type(3)::before { 
            font-family: 'Material Symbols Outlined';
            margin-right: .2em;
            position: relative;
            top: .1em;
            content: 'person_add';
        }

         /* number of posts */
        & > div:nth-of-type(4)::before {
            font-family: 'Material Symbols Outlined';
            margin-right: .2em;
            position: relative;
            top: .1em;
            content: 'note_stack';
        }
    }

    & > div:nth-child(2) { /* post contents*/

        display: flex;
        flex-direction: column;
        gap: .3em;
        
        & > div {
            padding: 0em 0.3em;
        }

        /* post title */
        & > div:nth-child(1) {
            color: var(--dark-accent);
            background-color: #eee;
            padding: 0.3em;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & > a::after {
                font-family: 'Material Symbols Outlined';
                content: 'vertical_align_top';
            }
        }

        /* post date and time*/
        & > div:nth-child(2) {
            font-size: smaller;
            border-bottom: solid 1px whitesmoke;
            padding-bottom: .2em;
            color: #777;
            & > span:nth-child(1)::before {
                font-family: 'Material Symbols Outlined';
                margin-right: .2em;
                position: relative;
                top: .1em;
                content: 'calendar_month';
            }
            & > span:nth-child(2)::before {
                font-family: 'Material Symbols Outlined';
                margin-right: .2em;
                position: relative;
                top: .1em;
                content: 'schedule';
            }
        }

        /* post actual content*/
        & > div:nth-child(3) {

            padding: 0em .2em;

            & > p {
                margin: 0em;
                margin-bottom: .3em;
            }

            & > blockquote {
                margin: .7em;
            }

            & * > blockquote {
                margin: .7em .3em;
            }

            & blockquote {
                border-left: 3px var(--light-neutral) dotted;
                padding: 5px 10px;
                background-color: #f9f9f9;
                box-shadow: 0px 0px 10px -5px gray ;

                & ::first-line {
                    color: var(--light-neutral);
                    font-style: italic;
                }

                & * {
                    color: var(--dark-neutral);
                }

                & > p {
                    margin: 0px;
                    padding: 0px;
                    margin-bottom: 3px;
                }

            }

            & pre  {
                border-bottom: 1px #f0f0f0 solid;
                border-right: 1px #f0f0f0 solid;
                border-left: 3px var(--light-accent) double;
                margin: .7em;
                padding: .5em;
                background-color: #f9f9f9;
                & > code {
                    color: var(--light-accent);
                    background: none;
                }
            }

            & code {
                background-color: #f0f0f0;
                color: var(--dark-accent);
            }

        }
    }
}
