.threads_list {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;

    /* list item */
    & > div {
        display: flex;
        flex-direction: row;
        padding: 0em 0em;

        /* icons & colors */
        & > div:nth-child(1), & > div:nth-child(2) {
            width: 30px;
            flex-grow: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        & > div:nth-child(1) {
            font-family: 'Material Symbols Outlined';
            font-size: larger;
        }
        &.global_thread {
            & > div:nth-child(1)::after{
                content: 'public';
                color: var(--light-accent);
            }
            & > div:nth-child(3) > div:first-child {
                color: var(--light-neutral);     
            }
        }
        &.thread_announc {
            & > div:nth-child(1)::after{
                content: 'error';
                color: coral;
            }
            & > div:nth-child(3) > div:first-child {
                color: var(--light-neutral);     
            }
        }
        &.thread_sticky {
            & > div:nth-child(1)::after{
                content: 'star';
                color: #bbb;
            }
            & > div:nth-child(3) > div:first-child {
                color: var(--light-neutral);     
            }
        }

        /* thread description and pagers */
        & > div:nth-child(3) {
            flex-grow: 5;
            padding: .2em;
            & > div:nth-child(1) {
                color: var(--light-accent);
                font-weight: 500;
            }
            & > div:nth-child(2) {
                font-size: small;
                color: gray;
            }
        }

        /* thread meta */
        & > div:nth-child(4) {
            width: 170px;
            font-size: small;
            display:grid;
            grid-template-columns: 1fr 1fr;
            padding: .2em;
            color: #777;
            font-family: "Roboto Slab", serif;
            font-weight: 400;
            & > div:nth-child(1) {
                grid-row: 1 / 3;
            }
            & > div::before {
                font-family: 'Material Symbols Outlined';
                position: relative;
                top: .1em;
                margin-right: .2em;
            }
            & > div:nth-child(1)::before {
                content: 'note_stack';
            }
            & > div:nth-child(2)::before {
                content: 'date_range';
            }
            & > div:nth-child(3)::before {
                content: 'calendar_month';
            }
        }

        &:hover > div:nth-child(3), &:hover > div:nth-child(4) {
            background-color: var(--light-neutral-12);
        }

    }

    /* separator lines*/
    & > div:nth-child(n+2) {
        border-top: solid 1px whitesmoke;
    }

}