.threads_list {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
}

.thread_list_item {
    display: flex;
    flex-direction: row;
    padding: 0em 0em;
}

.thread_list_item:hover .thread_item_desc, .thread_list_item:hover .thread_item_meta {
    background-color: var(--light-neutral-12);
}

.thread_list_item:nth-child(n+2) {
    border-top: solid 1px whitesmoke;
}

.thread_item_icon, .thread_type_icon {
    width: 40px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global_thread .is_icon::after {
    content: 'public';
    color: var(--light-accent);
}

.thread_announc .is_icon::after {
    content: 'error';
    color: coral;
}

.thread_sticky .is_icon::after {
    content: 'star';
    color: #bbb;
}

.thread_item_desc {
    flex-grow: 5;
    padding: .2em;
}

.thread_item_topic {
    color: var(--light-accent);
    font-weight: 500;
}

.global_thread .thread_item_desc .thread_item_topic ,
.thread_announc .thread_item_desc .thread_item_topic ,
.thread_sticky .thread_item_desc .thread_item_topic {
    color: var(--light-neutral);
    font-weight: 500;
}

.thread_item_pages {
    font-size: small;
    color: gray;
}

.thread_item_meta {
    flex-grow: 0;
    font-size: small;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: .2em;
}
.thread_item_meta * {
    color: #777;
}