---
layout: none
---
<!doctype html>
<meta http-equiv="refresh" content="x" />
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>PWGay - Politechnika Warszawska w Kolorach Tęczy - archiwum</title>
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="stylesheet" href="./assets/styles/post_list.css">
  </head>
  <body>
    <div id="main_container">
      <div id="header_area">
        <!-- HEADER -->
        <div id="main_header">
            <div>PWGay</div>
            <div>Politechnika Warszawska w Kolorach Tęczy</div>
        </div>
        <!-- MENU-->
        <ul id="main_menu">
          <li><a href="#">Forum</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">History</a></li>
        </ul>
        <div>
          <!-- BREADCRUMBS-->
          <div id="breadcrumbs" class="">
            <div><a href="http://www.wp.pl">forum ogolne</a></div>
            <div>&#x232A;</div>
            <div><a href="http://www.wp.pl">witmy na naszej stronie</a></div>
            <div>&#x232A;</div>
            <div><a href="http://www.wp.pl">str 1 z n</a></div>
          </div>
          <!-- TOP PAGINATION  -->
          <div class="pagination first">
            <div>&#XAB;  poprz. strona</div>
            <div>
              <a>1</a> ... <a>20</a>, <a>21</a>, <a>22</a>, <a>23</a> ... <a>129</a>
            </div>
            <div>nast. strona &#XBB;</div>
          </div>
        </div>
      </div>
      <!-- MAIN CONTENT -->
      <div id="content_container">
      {% for i in (2..200) %}
        <div class="post_item">
            {% include user.html user_id = forloop.index %}
            <div>
                <div><span>jest temat tego posta (taki jak forum?)</span><a href="#top"></a></div>
                <div class=""><span>2024-01-02</span> <span>13:45</span></div>
                <div>
                  W jakich godzinach  {% include smiley.html smiely_id=3 %} będzie to spotkanie ?<BR />
                  
                
                  <BR />
                  A oto następny <STRONG>HIT</STRONG> z czasów gdy chodziłem do gimnazjum {% include smiley.html smiely_id=3 %}<BR />
                  <!-- m --><a class="postlink" href="http://www.youtube.com/watch?v=kMG4Qa4vmOo">http://www.youtube.com/watch?v=kMG4Qa4vmOo</a><!-- m --><BR />
                  W niektórych krajach na samolotach rysowali postaci z tej bajki - taki to był hit {% include smiley.html smiely_id=3 %} A główny bohater (i jego uwydatnione krocze) zawsze mnie pociągał:<A {% include inline_attachment.html post_id=37720 attachment_index=0 %} /><!-- ia0 -->images.jpg<!-- ia0 --></A>
                    <hr /> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam natus delectus nesciunt temporibus corporis deleniti reprehenderit porro blanditiis culpa voluptate earum perferendis ut, numquam atque inventore exercitationem tempore soluta quasi.</p>
                    <p> ipsum dolor sit amet consectetur adipisicing elit. Fuga eos voluptatum ut impedit repudiandae fugit nemo modi possimus? Laborum itaque in sint soluta incidunt nisi aliquam? Amet accusamus quia ducimus.
                        <blockquote>
                            <p>cytat:<br />
                          lorem
                          ipsum
                          dolorsat<br />
                          ferere
                          <blockquote class="named">
                            <p>»qa« pisze:<br />
                          lorem
                          ipsum
                          dolorsat<br />
                          ferere
                          lalala</p>
                          </blockquote>
                          lalala</p>
                          </blockquote>
                          aaa
                          <pre><code>some code block</code></pre>
                        bbb
                        <pre>other code</pre>
                        ccc
                        <code>other yet code</code>
                        ddd
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro fugit sed! Odit ducimus enim ipsam eum placeat quod amet. Libero repellendus recusandae sit repellat? Architecto itaque tempora possimus eaque?</p>
                </div>
            </div>
        </div>
      {% endfor %}
      </div>
      <!-- FOOTER -->
      <div id="footer_area">
        <!-- BOTTOM PAGINATION  -->
        <div class="pagination last">
          <div>&#XAB;  poprz. strona</div>
          <div>
            <a>1</a> ... <a>20</a>, <a>21</a>, <a>22</a>, <a>23</a> ... <a>129</a>
          </div>
          <div>nast. strona &#XBB;</div>
        </div>
        <!-- FOOTER DETAILS -->
        <div id="main_footer">
          Archium postów forum "PWGay" | layout &copy;trekker | problemy, uwagi, zażalena: <a href="https://forms.gle/Xobu9ptXFNMecXPT7">tutaj</a> 
        </div>
      </div>
    </div>
  </body>
</html>