<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>PWGay - Politechnika Warszawska w Kolorach Tęczy - archiwum</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/main.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/fonts.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/forum_list.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/thread_list.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/post_list.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/poll.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/styles/post_attachment_list.css">
  </head>
  <body>
    <div id="main_container">
      <div id="header_area">
        <!-- HEADER -->
        <div id="main_header">
            <div>PWGay</div>
            <div>Politechnika Warszawska w Kolorach Tęczy</div>
        </div>
        <!-- MENU-->
        <ul id="main_menu">
          <li><a href="{{ site.url }}/index.html">Home</a></li>
          <li><a href="{{ site.url }}/forum_list.html">Fora</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">History</a></li>
        </ul>
        <div>
          <!-- BREADCRUMBS-->
          {% include breadcrumbs.html %}
          <!-- PAGINATION : TOP -->
          {%- if paginator.total_pages > 1 -%}
          <div class="pagination first">
            {% include pagination.html %}
          </div>
          {%- endif -%}
        </div>
      </div>
      <!-- MAIN CONTENT -->
      <div id="content_container">
      {{ content }}
      </div>
      <!-- FOOTER -->
      <div id="footer_area">
        <!-- FOOTER DETAILS -->
          {%- if paginator.total_pages > 1 -%}
          <div class="pagination last">
            {% include pagination.html %}
          </div>
          {%- endif -%}
        <div id="main_footer">
        Archium postów forum "PWGay" | layout &copy;trekker | problemy, uwagi, zażalena: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYToNWYNbpYuWMGw3bQQ6-RsUF2Yt96TSxVt6T1nyxV4e2lw/viewform?entry.1352911359={{ page.url }}" target="_blank">tutaj</a> 
        </div>
      </div>
    </div>
  </body>
</html>
