<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>PWGay - Politechnika Warszawska w Kolorach Tęczy - archiwum</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/forum_list.css">
  </head>
  <body>
    <div id="main_container">
      <div id="header_area">
        <!-- HEADER -->
        <div id="main_header">
            <div>PWGay</div>
            <div>Politechnika Warszawska w Kolorach Tęczy</div>
        </div>
        <!-- MENU-->
        <ul id="main_menu">
          <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
          <li><a href="{{ site.baseurl }}/forum_list.html">Fora</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">History</a></li>
        </ul>
        <div>
          <!-- BREADCRUMBS-->
          {% include breadcrumbs.html breadcrumbs = page.breadcrumbs %}
        </div>
      </div>
      <!-- MAIN CONTENT -->
      <div id="content_container">
{{ content }}
      </div>
      <!-- FOOTER -->
      <div id="footer_area">
        <!-- FOOTER DETAILS -->
        <div id="main_footer">
        Archium postów forum "PWGay" | layout &copy;trekker | problemy, uwagi, zażalena: <a href="https://forms.gle/Xobu9ptXFNMecXPT7">tutaj</a> 
        </div>
      </div>
    </div>
  </body>
</html>
