---
layout: default
---
{%- assign global_threads = site.threads | where: "thread_type", "global_thread" | sort: "thread_order" %}
{%- assign announcements = site.threads | where: "thread_type", "thread_announc" | where: "forum", page.forum | sort: "thread_order" %}

{%- assign sticky_posts = site.threads | where: "thread_type", "thread_sticky"  | where: "forum ", page.forum | sort: "thread_order" %}
{%- assign plain_posts = paginator.posts | where: "thread_type", "" | sort: "thread_order" %}

{%- assign other_posts = paginator.posts | where: "visible_on_top", "no"  | sort: "thread_order" %}

<div class="threads_list">
  {%- for t in global_threads %}
  {% include thread_item.html thread = t %}
  {%- endfor %}
  
  {%- for t in announcements %}
  {% include thread_item.html thread = t %}
  {%- endfor %}
</div>
<hr />
<div class="threads_list">
  {%- for t in other_posts %}
  {% include thread_item.html thread = t %}
  {%- endfor %}
</div>    