---
layout: default
autopages:
  permalink: /thread/:cat
breadcrumb_mode: thread
pagination:
  enabled: true
  collection: forum_posts
  debug: false
  per_page: 10
---
{% include poll.html %}
{% for p in paginator.posts %}
{% unless forloop.first %}
<hr class="post_spacer"/>
{% endunless %}
<div class="post_item" id="post_{{ p.post_id }}">
  {% include user.html user_id = p.poster_id %}
  <div>
      <div><A href="#post_{{ p.post_id }}"><span>{{ p.post_subject }}</span></A><a href="#top"></a></div>
      <div><span>{{ p.post_date }}</span> <span>{{ p.post_time }}</span></div>
      <div>{{ p.content }}</div>
      {% include post_attachment_list.html post_id = p.post_id %}
  </div>
</div>
{% endfor %}

