<div id="breadcrumbs">
  {%- if page.breadcrumb_mode == 'thread' -%}
    {%- assign topic_id = page.pagination.category | plus: 0  -%}
    {%- assign topic = site.data.topic_links[topic_id] -%}

    {%- assign forum_id = site.data.topic_links[topic_id].forum_id | plus :0  -%}
    {%- assign parent_id  = site.data.topic_links[topic_id]['parent_id'] | plus: 0  -%}
    {%- assign parent = site.data.lista_for | where: "grp_id", parent_id -%}
    {%- assign parent_name = parent | map: 'grp_name' | first -%}
    {%- assign fora = parent | map: 'fora' | first -%}
    {%- assign forum = fora | where: 'forum_id', forum_id -%}
    {%- assign forum_name = forum | map: 'forum_name' -%}
    <div><a href="/forum_list.html">Lista For</a></div>
    <div>&#x232A;</div>
    <div><a href="/forum/{{ forum_id }}/index.html">{{ forum_name }}</a></div>
    <div>&#x232A;</div>
    <div><a href="/thread/{{ topic_id }}/index.html">{{ topic.topic_title }}</a></div>
  {%- else -%}
    {% for b in page.breadcrumbs %}
      {%- if forloop.index0 > 0 -%}
        <div>&#x232A;</div>
      {%- endif -%}
      <div><a href="{{ b.href }}">{{ b.name }}</a></div>
    {% endfor %}
  {%- endif -%}
</div>
