<a href="{{ site.baseurl }}/forum/{{ include.forum.forum_id }}/index.html">
    <div>
      <div>{{ include.forum.forum_name }}</div>
      <div>{{ include.forum.forum_description }}</div>
    </div>
    <div>
      <div title="liczba wątków">{{ include.forum.forum_thread_count }}</div>
      <div title="liczba postów">{{ include.forum.forum_post_count }}</div>
      <div title="pierwszy post">{{ include.forum.forum_first_post }}</div>
      <div title="ostatni post">{{ include.forum.forum_last_post }}</div>
    </div>
  </a>
<hr />