{%- assign topic_id = include.thread.topic_id -%}
{%- assign max_page = include.thread.thread_post_count | divided_by: 10.0 | ceil -%}
<div class="{{ include.thread.thread_type }}">
  <div title="{{ include.thread.thread_type }}"></div>
  <div>
    {%- if include.thread.thread_icon != nil -%}
    <img src="{{ site.url }}/assets/icons/{{ include.thread.thread_icon }}" title="{{ include.thread.thread_icon_desc }}" />
    {%- endif -%}
  </div>
  <!--  xxx -->
    <div class="opisy">
        <div title="{{ include.thread.topic_id }}" class="tytul">
          {% if include.thread.has_poll%}<span title="ankieta"> </span>{% endif %}<A href="/thread/{{ topic_id }}/index.html">
          {{ include.thread.thread_topic }}
        </A></div>
        {% if max_page > 1 -%}
        <div class="strony">
          strony: 
          {% if max_page < 21 -%}
            {% for p in (1..max_page) -%}
              {%- if p == 1 -%}<A href="/thread/{{ topic_id }}/index.html">{{ p }}</A>
              {%- else %} | <A href="/thread/{{ topic_id }}/page_{{ p }}.html">{{ p }}</A>
              {%- endif -%}
            {%- endfor %}
          {%- else -%}
            {% for p in (1..8) -%}
              {%- if p == 1 -%}<A href="/thread/{{ topic_id }}/index.html">{{ p }}</A>
              {%- else %} | <A href="/thread/{{ topic_id }}/page_{{ p }}.html">{{ p }}</A>
              {%- endif -%}
            {%- endfor %}
            ... 
            {% assign pre_max_page = max_page | minus: 7 -%}
            {% for p in (pre_max_page..max_page) -%}
              {%- if p == pre_max_page -%}<A href="/thread/{{ topic_id }}/index.html">{{ p }}</A>
              {%- else %} | <A href="/thread/{{ topic_id }}/page_{{ p }}.html">{{ p }}</A>
              {%- endif -%}
            {%- endfor %}
          {%- endif %}
        </div>
        {%- endif %}
    </div>
    <div class="meta"> <!-- thread meta -->
      <div title="liczba postów">{{ include.thread.thread_post_count }}</div>
      <div title="pierwszy post">{{ include.thread.thread_start }}</div>
      <div></div>
      <div title="ostatni post">{{ include.thread.thread_end }}</div>
    </div>
  <!-- </A> -->
</div>